/weights
/models
/results
/datasets
/notebooks/weights
/notebooks/models
/notebooks/datasets
/notebooks/results
/notebooks/utils
/notebooks/rewrite
/notebooks/ali_neuro_style
/.idea
/testdata
.ipynb_checkpoints
__pycache__
*.pyc
.idea
tox.ini
node_modules/
.__*
.*.swp
sftp-config.json
